[submodule "android/RapidOcrAndroidOnnx"]
	path = android/RapidOcrAndroidOnnx
	url = git@github.com:RapidAI/RapidOcrAndroidOnnx.git
[submodule "cpp/RapidOcrOnnx"]
	path = cpp/RapidOcrOnnx
	url = git@github.com:RapidAI/RapidOcrOnnx.git
[submodule "cpp/RapidOcrNcnn"]
	path = cpp/RapidOcrNcnn
	url = git@github.com:RapidAI/RapidOcrNcnn.git
[submodule "jvm/RapidOcrNcnnJvm"]
	path = jvm/RapidOcrNcnnJvm
	url = git@github.com:RapidAI/RapidOcrNcnnJvm.git
[submodule "jvm/RapidOcrOnnxJvm"]
	path = jvm/RapidOcrOnnxJvm
	url = git@github.com:RapidAI/RapidOcrOnnxJvm.git
