<!-- 
    Provided by BUPT
 -->
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>RapidOCR Demo</title>
    <link rel=stylesheet  href="../static/css/main.css">
    <link rel="shortcut icon" href="/static/css/favicon.ico" type="image/x-icon"/>
</head>
<body>
    <header>
        <div class="head-wrapper">
            <div class="logo">
                <img src="../static/css/favicon.jpg" height="80px" alt="logo">
            </div>
            <div class="title">
                <b><i>Rapid🗲OCR Demo</i></b>
            </div>
            <span>为世界内容安全贡献力量</span>
            <ul class="link">
                <li>
                    <a href="https://github.com/RapidAI/RapidOCR/tree/main/ocrweb#readme"><b>了解Demo</b></a>
                </li>
                <li>
                    <a href="https://github.com/RapidAI/RapidOCR"><b>欢迎Star</b></a>
                </li>
                
            </ul>
        </div>
    </header>
    <article>
        <div class="introduction" id="introduction">
            <span class="small-title">项 目 简 介</span>
            <ul class="intro">
                <li>目前已知运行速度最快、支持最广，完全开源免费并支持离线部署的多平台多语言OCR SDK</li>
                <li>中文广告： 欢迎加入我们的QQ群下载模型及测试程序，qq群号：887298230</li>
                <li>缘起：百度paddlepaddle工程化不是太好，为了方便大家在各种端上进行ocr推理，我们将它转换为onnx格式，使用Python/C++/Java/Swift/C# 将它移植到各个平台。</li>
                <li>名称来源： 轻快好省并智能。 基于深度学习技术的OCR技术，主打人工智能优势及小模型，以速度为使命，效果为主导。</li>
                <li>基于百度的开源PaddleOCR 模型及训练，任何人可以使用本推理库，也可以根据自己的需求使用百度的paddlepaddle框架进行模型优化。</li>
            </ul>
        </div>

        <div class="leftarea" id="detectDiv">
            <span class="small-title">文 本 检 测 结 果</span>
            <div class="img-wrapper">
                <!-- 双层包裹使wrapper完全覆盖图片 -->
                <div class="container">
                    <div class="wrapper" id="wrapper"  ></div>
                    <div class="img" id="img-table">
                        <img id="detect_img" src=""/>
                    </div>
                </div>   
            </div>
            
            <div class='button-area' >
                <span class="btn-gen" onclick="javascript:$('#rapid_ocr').click();">试试你的图片?</span>
                <input type="file" style="display: none;" name="pic" id="rapid_ocr"/>
                <span class="uplodNote">可拖拽、粘贴、点击，支持PNG、JPG、JPEG、BMP，图片大小不超过3M。</span>
            </div>
        </div>

        <div class="rightarea" id="recogDiv">
            <span id="rec_res" class="small-title">文 本 识 别 结 果</span>
            <div class="div-table">
                <table id="locTable" class="table" cellspacing="0" cellpadding="5"></table>
            </div>
            <div class="button-area">
                <!-- 留下两个按钮的位置，后续完善相应功能 -->
                <span class="btn-copy" onclick="copy_table()">复制</span>
                <span class="btn-table-excel" onclick="table_to_excel()">导出Excel</span>
            </div>
        </div>
    </article>
    <script src="{{url_for('static', filename='js/jquery-3.0.0.min.js')}}"></script>
    <script type="text/javascript">
        // 页面加载时，执行
        var targetFile = null;
        window.onload = function () {
            $('#detect_img').attr("width", "");
            $('#detect_img').attr("height", "");
        }

        $("#rapid_ocr").on('change', function (){
            targetFile = document.getElementById("rapid_ocr").files[0];
            requestOCR();
        });

        $("html").on("dragover", function(event) {
            event.preventDefault();
            event.stopPropagation();
            $(this).addClass('dragging');
        });

        $("html").on("dragleave", function(event) {
            event.preventDefault();
            event.stopPropagation();
            $(this).removeClass('dragging');
        });

        $("html").on("drop", function(event) {
            event.preventDefault();
            event.stopPropagation();
            let trans = event.originalEvent.dataTransfer;
            handleData(trans);
        });

        $('html').on('paste', function (e) {
            let trans = e.originalEvent.clipboardData;
            handleData(trans);
        });
        function handleData(trans) {
            if (trans.items) {
                for (let i = 0; i < trans.items.length; i++) {
                    // If dropped items aren't test_files, reject them
                    if (trans.items[i].kind === 'file') {
                        targetFile = trans.items[i].getAsFile();
                        console.log(`handleData: items[${i}].name = ${targetFile.name}`);
                        requestOCR();
                        return;
                    }
                }
            } else {
                // Use DataTransfer interface to access the file(s)
                for (let i = 0; i < trans.files.length; i++) {
                    targetFile = trans.files[i];
                    console.log(`handleData: files[${i}].name = ${targetFile.name}`);
                    requestOCR();
                    return;
                }
            }
        }

        function requestOCR(){
            if (!targetFile){
                return;
            }

            // 判断图像格式是否匹配
            let imageName = targetFile.name;
            let index = imageName.lastIndexOf('.');
            let extName = imageName.substr(index + 1);
            let imgArr = ['jpg', 'bmp', 'png', 'jpeg'];
            if (!(imgArr.includes(extName.toLocaleLowerCase()))){
                alert("图像文件格式不支持！");
                return;
            }

            // 判断图像大小是否符合
            let imageSize = targetFile.size / 1024 / 1024;
            if (imageSize >= 3) {
                alert("图像大小超过3M！");
                return;
            }

            var reader = new FileReader();
            reader.onload = function(e){
                var upload_data = {"file": reader.result};
                $.ajax(
                {
                    url:"/ocr",
                    type:"POST",
                    data: JSON.stringify(upload_data),
                    contentType: 'application/json; charset=UTF-8',
                    dataType: 'json',
                    beforeSend:function(){
                        $("#detect_img").attr('src', reader.result);
                        $("#wrapper").show();
                        $("#locTable").hide();
                        $("#rec_res").html("文本识别结果");
                    },

                    success:function (data) {
                        $("#wrapper").hide();
                        if (data){
                            // 对后缀名是图片格式，但实际不是图片的文件给出提示
                            // Provided by BUPT
                            if(data['message']){
                                alert("您上传的文件不是图片!")
                            }

                            // 综合判断OCR过程中是否存在安全问题（包括：js、css、url注入，违规词汇检测）
                            // Provided by BUPT
                            if (data["det_str"]){
                                {#var security_check = JSON.parse(data["det_str"]);#}
                                if (data["det_str"] != ""){
                                    alert(data["det_str"]);
                                }
                            }

                            if (data['image']){
                                $("#detect_img").attr('src', 'data:image/jpeg;base64,'+ data['image']);
                                $('#detect_img').show();
                            }

                            if (data["total_elapse"]){
                                document.getElementById("rec_res").textContent = "文 本 检 测 结 果(Total:" + String(data["total_elapse"]) + "s)"
                                $("#rec_res").show();
                            }
                            
                            if (data["rec_res"]){
                                var rec_res = JSON.parse(data["rec_res"]);
                                // 实现对非法图片的安全保护
                                // Provided by BUPT
                                var regex = /<([a-z][\s\S]*)>.*<\/([a-z][\s\S]*)>/i;
                                var full_text = "";
                                for(let k = 0; k < rec_res.length; k++){
                                    var temp = rec_res[k];
                                    var words = temp[1];
                                    full_text = full_text + words;
                                }
                                var result = regex.test(full_text);
                                if(result){
                                    alert("疑似存在恶意代码，文本结果将不会在表格中显示！");
                                }
                                else{
                                    if (data['elapse_part']){
                                        var elapse_list = data['elapse_part'].split(',');
                                    }else{
                                        var elapse_list = [0, 0, 0];
                                    }
                                    var data = "";
                                    data += "<tr>" +
                                                '<th align="right">Det: ' + elapse_list[0] + 's</th>' +
                                                '<th align="center">Cls: ' + elapse_list[1] + 's</th>' +
                                                '<th align="left">Rec: ' + elapse_list[2] + 's</th>' +
                                            "</tr>"
                                    data += "<tr>" +
                                                '<th bgcolor="#C0C0C0">序号</th>' +
                                                '<th bgcolor="#C0C0C0">识别结果</th>' +
                                                '<th bgcolor="#C0C0C0">置信度</th>' +
                                            "</tr>"
                                    for (let i = 0; i < rec_res.length; i++) {
                                        const element = rec_res[i];
                                        let num = element[0];

                                        let rec_result = element[1];
                                        let score = Number(element[2]);
                                        score = score.toFixed(4);

                                        data += "<tr>"
                                        data += "<td>" + num + "</td>";
                                        data += "<td align='left'>" + rec_result + "</td>";
                                        data += "<td>" + score + "</td>";
                                        data += "</tr>"
                                    }
                                    document.getElementById("locTable").innerHTML = data;
                                    $("#locTable").show();
                                }
                            }

                        }

                    }
                }
            );
            }
            reader.readAsDataURL(targetFile)
        }
    </script>
    <script>
        function copy_table(){
            alert("Copy the table to Pasteboard!");
        }
        function table_to_excel()
        {
            alert("Change table to Excel!");
        }
        </script>
    <footer>
        <br>
    </footer>
</body>
